@import "../../assets/helpers/mixins";

.content-container {
  width: 100%;
  height: 100%;
  .flex(center, column);
  background: var(--bg);

  > button {
    margin: 10px;
  }

  .bob {
    background: red;
    .hw(200px, 200px)
  }
}



